:root {
    /* d'après la palette de couleur  */
    --bleu-foncé:rgb(52, 73, 96);
    --marron:rgb(140,123,110);
    --orange:rgb(204, 133, 97);
    --beige:rgb(221, 201, 190);
    --beige-pale:rgb(226, 217, 207);

    /* d'après le mockup */
    --beige-header:rgb(241, 219, 196);
    --marron-body:rgb(181, 164, 147);
}

/* presets */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

img {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li, ul li a {
    text-decoration: none;
}

/* HEADER */

header {
    background-color: var(--beige-header);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a {
    height: 150px;
    margin: 0 50px;
    margin-left: 10%;
    border-radius: 30px;
}

header > a > img{
    width: auto;
    height: 100%;
    
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background:var(--marron-body);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn img{
    width: 20px;
    height: 20px;
    border-radius: 40%;
    float: right;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    
    width: 240px;
}

header > div > nav {
    margin: 50px;
    padding-right: 10%;
}

header > div > nav ul {
    
    display: flex;
    gap: 10px;
}

header > div > nav ul li a{
    padding: 10px;
    color: black;
    border-radius: 20px;
}

header > div > nav ul li a:hover{
    background-color: var(--marron-body);
    color: white;
    transition: 0.3s;
}