:root {
    /* d'après la palette de couleur  */
    --bleu-foncé:rgb(52, 73, 96);
    --marron:rgb(140,123,110);
    --orange:rgb(204, 133, 97);
    --beige:rgb(221, 201, 190);
    --beige-pale:rgb(226, 217, 207);

    /* d'après le mockup */
    --beige-header:rgb(241, 219, 196);
    --marron-body:rgb(181, 164, 147);
}

/* presets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

img {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li, ul li a {
    text-decoration: none;
}

body {
    background-color: var(--beige-header);
}

/* HEADER */


header {
    background-color: var(--beige-header);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a {
    height: 150px;
    margin: 0 50px;
    margin-left: 10%;
    border-radius: 30px;
}

header > a > img{
    width: auto;
    height: 100%;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background:var(--marron-body);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn img{
    width: 20px;
    height: 20px;
    border-radius: 40%;
    float: right;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    
    width: 240px;
}

header > div > nav {
    margin: 50px;
    padding-right: 10%;
}

header > div > nav ul {
    display: flex;
    gap: 10px;
}



header > div > nav ul li a{
    padding: 10px;
    color: black;
    border-radius: 20px;
    white-space: nowrap;
}

header > div > nav ul li a:hover{
    background-color: var(--marron-body);
    color: white;
    transition: 0.3s;
}

/* MAIN */



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--beige);
}

main h1  {
    margin-top: 100px;
    font-size: 6em;

}
main p {
    text-align: justify;
    text-justify: inter-word;
}

main div img {
    width: 500px;
    height: 500px;
    box-shadow: inset 100px 100px var(--marron) ;
}



main > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
}

main > div > div > h2 {
    text-transform:uppercase;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
}

main > div > div  {
    display: flex;
    width: 600px;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;

    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 10px 100px -20px var(--marron) ;

    
}

main > div > div > div {
    position: relative;
}

main > div > div > div > a {
    font-size: 1.5em;
    color: white;
    background-color: var(--orange);
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,40%);
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    

}

#contact-p {
    margin-top: -30px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
    margin-bottom: 200px;
}
form input, form select, form textarea {
    background-color: var(--beige);
    padding:10px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 1.5em;
}
form label {
    font-size : 1.7em;
    margin-top: 10px;
}
form #submit {
    text-transform: uppercase;
    margin-top: 30px;
    transition: .5s;
}
form #submit:hover {
    background-color: black;
    color: var(--beige);
}



/* FOOTER */


footer {
    background-color: var(--marron-body);
    padding: 100px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > div > h1 {

}

footer > div > p {
    font-size: 1em;
}

footer > div > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer > div > div > a{
    width: 30px;
    height: 30px;
}

footer > div > div > a > img{
    width: 30px;
    height: 30px;
}

footer .search-box {
    background-color: antiquewhite;
}

footer .search-txt {
    color: black;
}

.join-btn {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--marron);
    transform: translate(10px);
}